Source: udmabuf-4.9.0-xlnx-v2017.3-zynqmp-fpga
Section: kmod
Priority: optional
Maintainer: ikwzm <ichiro_k@ca2.so-net.ne.jp>
Build-Depends: debhelper (>= 9), bzip2
Standards-Version: 3.9.6
Homepage: <https://github.com/ikwzm/ZynqMP-FPGA-Linux>
#Vcs-Git: git://anonscm.debian.org/collab-maint/fpga-soc-linux-drivers.git
#Vcs-Browser: https://anonscm.debian.org/gitweb/?p=collab-maint/fpga-soc-linux-drivers.git;a=summary

Package: udmabuf-4.9.0-xlnx-v2017.3-zynqmp-fpga
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, linux-image-4.9.0-xlnx-v2017.3-zynqmp-fpga
Description: User space mappable DMA Buffer Device Driver and Service Program.
